<%- include("partials/header"); -%>
<p class="text">Now you've practiced, let's have a go for real! !</p>
<p class="text"></p>
<br>
<button class="btn btn-outline-light" type="submit" name="button"><a href="jeu4">Let's start!</a></button>
