<%- include("partials/header"); -%>
<p class="text">Now you've practiced, let's have a go for real! !</p>
<p class="text">Get your fingers ready over the F and J buttons</p>
<br>
<button class="btn btn-outline-light" type="submit" name="button"><a href="jeu2">Let's start!</a></button>
