<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title> SignUp Form</title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- Custom Theme files -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- //Custom Theme files -->
  <!-- web font -->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <!-- //web font -->
</head>


<body class="signup">
  <div class="main-w3layouts wrapper">
    <h1>SignIn Form</h1>
    <div class="main-agileinfo">
      <div class="agileits-top centered">
        <form action="login" method="post">

          <input class="text" type="email" placeholder="E-mail" name="username" required="">
          <input class="text" type="password" placeholder="Password" name="password" required="">
          <br>
          <button type="submit" class="btn btn-success centered">Login</button>


        </form>
        <p>You don't have an Account? <a href="Register"> Register Now!</a></p>
      </div>
    </div>
    <!-- copyright -->

    <!-- //copyright -->
    <ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <!-- //main -->

</body>

</html>
