<%- include("partials/header"); -%>
<h2>Welcome to the Numbers Game !</h2>
<p class="text">Listen to the instructions below</p>
<br>
<figure>
  <audio src="Number.m4a" controls>
    Votre navigateur ne supporte pas l'élément <code>audio</code>.
  </audio>
</figure>
<p class="text">The computer will show you some numbers</p>
<p class="text">Remember the numbers and type them in <b>BACKWARDS</b></p>
<br>
<p class="text"> Before starting, let's try some examples!</p>

<br>
<button class="btn btn-outline-light" type="submit" name="button"><a href="numbertraining">Let's try!</a></button>

<%- include("partials/footer"); -%>
