<%- include("partials/header"); -%>
<h2>Welcome to the strange stories test !</h2>
<p class="text">Listen to the instructions below</p>
<br>
<figure>
  <audio src="Strangestory.m4a" controls>
    Votre navigateur ne supporte pas l'élément <code>audio</code>.
  </audio>
</figure>

</figure>
<p class="text"> In this task, you will be working on some short stories. Read each story for you once. After each story, there will be a question. Type your answer into the box below the question. Remember, you can’t change your answer once you
  click on the ‘Next’ button so please check each answer very carefully before you click ‘Next’. </p>
<p class="text">Your answer doesn’t have to be long – you can start with ‘because’ if you like. Just give the best answer you can think of. If you don’t know, try guessing. Once you have checked your answer, click ’Next’</p>
<br>
<button type="submit" name="button"><a href="strangestory1">Let's start!</a></button>
<%- include("partials/footer"); -%>
