<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Platform</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Indie+Flower" rel="stylesheet">
</head>

<body>
  <form class="" action="/strangestory5" method="post">
    <div class="div-gallerieR container">
      <h2>Story 5</h2>
      <p>A burglar who has just robbed a shop is making his getaway. As he is running home, a policeman on his beat sees him drop his glove. He doesn’t know the man is a burglar, he just wants to tell him he dropped his glove. But
        when the policeman shouts out to the burglar, ‘Hey, you! Stop!’, the burglar turns round, sees the policeman and gives himself up. He puts his hands up and admits that he did the break-in at the local shop.  </p>
      <h3><em>Q5. Why did the burglar do that?</em></h3>
      <div class="">
        <textarea name="answer5" rows="8" cols="80" placeholder="Write your answer here"></textarea>
      </div>
      <button type="submit" name="button">Next</button>
      <br>
      <img class="storyimage" src="story5.PNG" alt="">
      <br>
      <div class="div-gallerieL container">
        <div style=''>
          <video id="sourcevid" width='200' style='visibility:hidden' autoplay="true"></video>
          <!-- <div id="message" style='height:20px;width:350px;margin:5px;'>Message:</div> -->
        </div>
        <canvas id="cvs" style='visibility:hidden;display:inline-block'></canvas>
        <!-- <div id="jaxa" style='width:80%;margin:5px;'>Message:</div> -->
        <textarea id='tar' style='visibility:hidden;width:50%;height:100px;' name="photoURL5"></textarea>
        <!-- <button id="send" type="submit" name="send">send photo to server</button> -->
      </div>

  </form>
  </div>
  <script src="assets/vendor/camera/camera.js"></script>
</body>

</html>

<%- include("partials/footer"); -%>
