<%- include("partials/header"); -%>
<h2>Welcome to the Vocabulary Game !</h2>
<p class="text">Listen to the instructions below</p>
<br>
<figure>
  <audio src="Vocabulary.m4a" controls>
    Votre navigateur ne supporte pas l'élément <code>audio</code>.
  </audio>
</figure>
<p class="text">Match the Word!</p>
<p class="text">You will see a word written on the top of the screen.
  Select the word that is closest in meaning to the word at the top of the screen.</p>
<br>


<br>
<p class="text"> Before starting, let's try some examples!</p>

<br>
<button class="btn btn-outline-light" type="submit" name="button"><a href="wordtraining">Let's try!</a></button>

<%- include("partials/footer"); -%>
